{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Título de la WEB</title>
    <meta charset="UTF-8">
    <meta name="title" content="MARVEL API">
    <meta name="description" content="Mostrando la API de Marvel">
    <link rel="stylesheet" src="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand">Marvel App</a>
        <li><a href="{% url 'comics' %}">Comics</a></li>
      <form class="form-inline" action="{% url 'home' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="container mt-3">
        <div class="col-md-12">
          <div class="row">
            <!---Aqui empiezan los personajes de marvel-->
            {% for character in data %}
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ character.name }}</h5>
                        <p class="card-text">{{ character.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ character.modified }}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!---Aqui terminan los personajes de marvel-->
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>